.container{
    margin: 0px;
}
.nav{
    display: flex;
    background-color:rgb(229, 234, 229);;
}
#name{
    list-style: none;
    color:orangered;
}
#ul2{
    display: flex;
    margin-left: 1070px;
    gap : 10px;
    list-style: none;
}

.header{
    background-color: black;    
    text-align:center;
    color: white;
}
#namehead{
    padding-left: 22%;
    padding-top: 10px;
}
.para{
    background-color:rgb(229, 234, 229);
    
}
#lorem{
    padding-left:22%
}
.container1{
    position: relative;
    text-align: center;
    color: white;
}
#ach{
        color: white;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
         
}
#some{
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}
#line1{
    color: white;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}

#label1{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 60%;
    left: 10.8%;  
    transform: translate(-50%, -50%);  
}
#label2{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    color: black;
    padding-bottom: 70 px;
    top: 60%;
    left: 50%;    
    transform: translate(-50%, -50%);
}
#label3{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    color: black;
    padding-right: 100 px;
    top: 60%;
    left: 89.2%; 
    transform: translate(-50%, -50%);   
}



.container2 {
    position: relative;
    text-align: center;
    color: white;
}

#some1{
    color: white;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}
#line2{
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}

#label1_1{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 55%;
    left: 10.8%;  
    transform: translate(-50%, -50%);  
}
#label1_2{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    color: black;
    padding-bottom: 70 px;
    top: 55%;
    left: 50%;    
    transform: translate(-50%, -50%);
}
#label1_3{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    color: black;
    padding-right: 100 px;
    top: 55%;
    left: 89.2%; 
    transform: translate(-50%, -50%);   
}


.container3{
    background-color:rgb(229, 234, 229);
}

#sk{
    text-align: center;
    
}
#tech{
    position: relative;
    font-size: small;
    padding-left: 20.8%;
}
#list{
    position: absolute;
    padding-left: 15.8%;

}
#lang{
    font-size: small;
    padding-left: 20.8%;
}
#list1{
    padding-left:80%;
    padding-top: 0px;
}
.container4{
    background-color: black;
    
}
#CON{
    color: white;
    text-align: center;

}
#contact{
    color: white;
    text-align: center;
    align-items: center;
    list-style-type: none;

}

    